.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 72px auto;
  border: 1px solid black;
  box-sizing: border-box;
}
.App h2 {
  width: 400px;
}
.formGroup {
  margin: 20px 0;
}

.formGroup input {
  padding: .8em;
  width: 400px;
  box-sizing: border-box;
}
.formGroup label {
  display: block;
}
#emailConsent {
  width: 30px
}
#checkboxLabel {
  display: inline;
}

.error {
  color: red;
}
.successMessage {
  color: green;
}

.submitButton {
  color: white;
  background-color:black;
  border: 1.5px solid black;
  cursor: pointer;
  width: 100px !important;
  float: right;
  margin: 20px 10px;
  
}
.submitButton:focus {
  outline: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
